/*
body {
    font: normal 12px verdana,arial,tahoma;
}

html, body {
    margin:0;
    padding:0;
    border:0 none;
    overflow:hidden;
    height:100%;
    width:100%;
}
*/

body {
  font-family: "Trebuchet MS",verdana,lucida,arial,helvetica,sans-serif;
}

#header {
  font-family: "Trebuchet MS",verdana,lucida,arial,helvetica,sans-serif;
}

#logo {
  font-size: 20px;
  float: left;
  display:inline;
}


#header div.right-side {
  float: right;
  font-size: 14px;
  display:inline;
  text-align: right;
}

#username {
  text-align: right;
}

#login-link {
  color: #15428B;
  text-align: right;
  cursor: pointer;
}

#version { 
  color: black;
  font-size: 10px;
  padding-top: 1px;
  text-align: right;
}

#config-text, #log-text {
  font-family: "Trebuchet MS",verdana,lucida,arial,helvetica,sans-serif;
}

.little-padding {
  padding: 10px;
  font-size:14px;
}

/* Sonatype Icons */
button.st-icon-refresh {
  background-image:url(../images/icons/arrow_refresh.png);
}

/* Ext theme overrides */
.x-form-invalid,textarea.x-form-invalid{ /* make three browsers consistent */
  background:#fee;
  border:1px solid #dd7870;
}

.ext-safari .x-form-invalid{ /* @note could remove from source */ 
  background:#fee;
  border:1px solid #dd7870;
}

.x-form-focus,textarea.x-form-focus{
  outline: auto 0px -webkit-focus-ring-color; /* add Safari focus ring override, so consistent across browsers */
}

.loading-indicator{
  font-size:11px;
    background-image:url(../ext-2.0.2/resources/images/default/grid/loading.gif);
    background-repeat:no-repeat;
    background-position:3px center;
    padding-left:22px;
    line-height:16px;
    margin:3px;
}

/* correct safari fieldset toggle icons */
.ext-safari .x-fieldset legend .x-tool-toggle, .ext-safari .x-fieldset legend input {margin-top:1px;}

/* Custom form label classes */
.required-field .x-tip-ml { /* reduce left offset w/ icon in there */
  padding-left: 2px;
}
.required-field .x-tip-body {
  padding-left: 16px;
  background:transparent url(../images/icons/bullet_star.png) no-repeat scroll left;
}

.required-field .x-form-item-label {
  background:transparent url(../images/icons/bullet_star.png) no-repeat right;
}

.required-field .x-panel-header-text {
  padding-right: 16px;
  background:transparent url(../images/icons/bullet_star.png) no-repeat scroll right;
}

.form-label-helpmark {
  margin-left: 2px;
  vertical-align: middle;
}

.form-label-helpmark-combo {
  margin-left: 20px;
  height:16px;
  width:16px;
  vertical-align: middle;
}

.form-label-helpmark-check {
  margin-left: 5px;
  height:16px;
  width:16px;
  vertical-align: middle;
}

.form-label-after-field {
  padding-left: 3px;
  vertical-align: -1px;
}

/* left server sub-panels */
#st-server-tab-panel .st-server-panel .st-server-sub-container {
  padding: 2px 4px 2px 4px;
}

#st-server-tab-panel .st-server-panel .x-panel-body.x-panel-body-noheader {
  background-color:#F9F9F9;
}

.search-all-tbar {
  
}

#st-server-tab-panel ul.group-links a {
    text-decoration:none;
    font-size:13px;
    color:#15428B;
    padding:2px;
}

#st-server-tab-panel ul.group-links a:hover {
    text-decoration:none;
    color:#15428B;
}

#st-server-tab-panel ul.group-links a:visited {
    text-decoration:none;
    color:#15428B;
}

/* Search results */
#search-result-grid .x-grid3-row-body {
	margin:0px 5px 0px 5px;
	padding:1px 5px 3px 0;
}

#search-result-grid input.copy-pom-dep {
  width:500px;
  font-size: 11px;
  color:#444; /*dark grey*/
}


/* RSS Grid */
#topic-grid .x-grid3-td-title b {
  font-family:tahoma, verdana;
  display:block;
  color:#333;
}
#topic-grid .x-grid3-td-title b i {
  font-weight:normal;
  font-style: normal;
  color:#000;
}
#topic-grid .x-grid3-td-title .topic {
  padding-left:5px;
}
#topic-grid .x-grid3-td-title .x-grid3-cell-inner {
  white-space:normal;
}
#topic-grid .x-grid3-td-title a {
  color: #385F95;
  text-decoration:none;
}
#topic-grid .x-grid3-td-title a:hover {
  text-decoration:underline;
}
#topic-grid .x-grid3-row-body p {
  margin:2px 10px 4px 10px !important;
  color:#555;
}

/* Grid Panel style overrides */
.x-grid-panel a {
	color: #1E4176;
}

.x-grid-panel a:link {
	color: #1E4176;
	text-decoration: none;
}

.x-grid-panel a:visited {
  color: #1E4176;
	text-decoration: none;
}

.x-grid-panel a:hover {
	text-decoration: underline;
	color: #15428b;
}

.x-form-field-wrap .x-form-folder-trigger{
    background-image: url(../images/icons/folder-trigger.png);
    cursor:pointer;
}

.ext-ie .x-fieldset{padding-top:10px;padding-bottom:10px;}

.x-date-middle {
    padding-top:2px;padding-bottom:2px;
    width:130px; /* FF3 */
}
