<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Nexus: ${title}</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <link rel="stylesheet" type="text/css" href="http://www.sonatype.com/css/web.css"/>
        ${head}
    </head>
    <body>
      <div id="frame">
        <div id="forbg"> 
          
    <div id="banner">
    <img src="http://www.sonatype.com/images/top.gif" style="float:left;position:relative;right:8px;"><a href="index.html"><img id="logo" src="http://nexus.sonatype.org/nexus.png" alt="Nexus" width="193" height="73"/></a>
    </div>

          
          <div id="center" class="Content2Column">  <!-- Content3Column for index -->
            <div id="content">
              <h1 class="FirstChild">${title}</h1>
              
              ${body}

              <br/><br/>

            </div>
          </div>
          
          <div class="SidePanel" id="left">
            <#list sitemap.sections as section>
              <div class="MenuGroup">
                <h1>${section.name}</h1>
                <ul>
                  <#list section.pages as otherPage>
                    <#if otherPage = page>
                      <li class="currentLink">${otherPage.title}</li>
                      <#else>
                        <li><a href="${otherPage.href}">${otherPage.title}</a></li>
                      </#if>
                    </#list>
                  </ul>
                </div>
              </#list>
            </div>
        <div style="clear: both;">&nbsp;</div>
            
    <div class="footer">&copy;2008 Sonatype, Inc. <a href="mailto:info@sonatype.com">info@sonatype.com</a></div>

  <div class="end" style="float:left;position:relative;right:14px"><img src="http://www.sonatype.com/images/end.gif"></div>
          </div>


        </div>

      </div>
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-1693297-4");
        pageTracker._initData();
        pageTracker._trackPageview();
      </script>
    </body>
</html>
