# Ignores for Sonatype Nexus Core
# Language is Java
# Build tool is Apache Maven2/3
# IDE used is Eclipse MSE
# so, we have to ignore all the specifics of these above

# Eclipse related (and M2e)
.classpath
.project
.settings/

# Maven related (and some plugins)
target/
*.ser
*.ec

# Intellij
*.ipr
*.iml
*.iws
.idea/

# Other
.DS_Store
.clover
build.log
atlassian-ide-plugin.xml
dependency-reduced-pom.xml