<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <target>System.out</target>
      <encoder>
          <!--<pattern>[%level] %logger{0} - %msg%n</pattern>-->
          <pattern>TEST: %date{HH:mm:ss.SSS} %level [%thread%X{DC}] %logger - %msg%n</pattern>
      </encoder>
  </appender>

  <root level="${it.test.log.level:-INFO}">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>