<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>${test.log.pattern}</pattern>
    </encoder>
  </appender>

  <logger name="Sisu" level="${test.log.level.Sisu:-INFO}"/>
  <logger name="org.apache.commons.httpclient" level="ERROR"/>
  <logger name="org.apache.http" level="${test.log.level.org.apache.http:-INFO}"/>
  <logger name="org.sonatype.nexus.client" level="${test.log.level.org.sonatype.nexus.client:-INFO}"/>

  <logger name="org.sonatype.nexus.plugins.p2.repository" level="TRACE"/>

  <root level="${test.log.level:-INFO}">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
