<!-- /*
 * Nexus: Maven Repository Manager
 * Copyright (C) 2008 Sonatype Inc.                                                                                                                          
 * 
 * This file is part of Nexus.                                                                                                                                  
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see http://www.gnu.org/licenses/.
 *
 */ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Sonatype Nexus</title>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="shortcut icon" href="favicon.ico" type="image/gif" />

  <!-- Plugin pre HEAD contributions start here -->
  #foreach( $pluginPreHeadContribution in $pluginPreHeadContributions )
    $pluginPreHeadContribution
  #end
  <!-- Plugin pre HEAD contributions ends here -->

  <link rel="stylesheet" href="ext-2.2/resources/css/ext-all.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="ext-2.2/resources/css/xtheme-gray.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="style/Sonatype.css?$nexusVersion" type="text/css" media="screen" title="no title" charset="utf-8">

  <script src="ext-2.2/adapter/ext/ext-base.js" type="text/javascript" charset="utf-8"></script>
  <script src="ext-2.2/ext-all.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/extensions/ext-override.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>

  <script src="js/filetree/js/Ext.ux.form.BrowseButton.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  
  <script src="js/Sonatype.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  
  <script src="js/extensions/Ext.messagebox.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>  
  <script src="js/extensions/Ext.form.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/extensions/SearchField.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/extensions/Sonatype.ext.FeedGrid.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/extensions/Ext.tree.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/extensions/TwinPanelController.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/extensions/Sonatype.events.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/extensions/Sonatype.navigation.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/extensions/Sonatype.panels.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  
  <script src="js/Sonatype.utils.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/Sonatype.config.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/Sonatype.lib.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/Sonatype.resources.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/Sonatype.view.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  
  <script src="js/repoServer/repoServer.referenceData.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.resources.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.FeedViewPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.ArtifactInformationPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.SearchResultGrid.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.SearchPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  
  <script src="js/repoServer/repoServer.LogsViewPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.ServerEditPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.GroupsEditPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.RoutesEditPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.SchedulesEditPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.UserEditPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.RoleEditPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.PrivilegeEditPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.AbstractRepoPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.FileUploadPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>  
  <script src="js/repoServer/repoServer.RepoMaintPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.RepoEditPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
  <script src="js/repoServer/repoServer.RepoServer.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>  
  <script src="js/repoServer/repoServer.RepoTargetEditPanel.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>

  <!-- Plugin post HEAD contributions start here -->
  #foreach( $pluginPostHeadContribution in $pluginPostHeadContributions )
    $pluginPostHeadContribution
  #end
  <!-- Plugin post HEAD contributions ends here -->

  <script type="text/javascript" charset="utf-8">
    Ext.onReady(Sonatype.init);
  </script>
</head>

<body>

<!-- Plugin pre BODY contributions start here -->
#foreach( $pluginPreBodyContribution in $pluginPreBodyContributions )
    $pluginPreBodyContribution
#end
<!-- Plugin pre BODY contributions ends here -->

<div id="header">
  <div id="logo">
    <span>
      Sonatype&trade; Nexus&trade;
      #foreach( $pluginLogoContribution in $pluginLogoContributions )
        $pluginLogoContribution
      #end
    </span>
  </div>
  <div class="right-side">
    <div><span id="username"></span><span id="login-link"></span></div>
    <div id="version"></div>
  </div>
</div>

<div id="welcome-tab" class="little-padding">
  <p>Welcome to the <a href="http://nexus.sonatype.org" target="new">Sonatype Nexus Maven Repository Manager</a>.</p>
  <br/>
</div>

<!-- Plugin post BODY contributions start here -->
#foreach( $pluginPostBodyContribution in $pluginPostBodyContributions )
    $pluginPostBodyContribution
#end
<!-- Plugin post BODY contributions ends here -->

</body>
</html>
