<?xml version="1.0" encoding="UTF-8"?>

<included>

  <appender name="migrationlogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${plexus.nexus-work}/logs/migration.log</File>
    <Append>true</Append>
    <encoder>
      <pattern>${appender.pattern}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${plexus.nexus-work}/logs/migration.log.%d{yyyy-MM-dd}</fileNamePattern>
    </rollingPolicy>
  </appender>
  
  <logger name="org.sonatype.nexus.plugin.migration" level="DEBUG">
    <appender-ref ref="migrationlogfile" />
  </logger>
  
</included>
