<?xml version="1.0" encoding="UTF-8"?>
    <!--
        /* * Nexus: Maven Repository Manager * Copyright (C) 2008 Sonatype Inc. * * This file is part of Nexus. * * This program is free
        software: you can redistribute it and/or modify * it under the terms of the GNU General Public License as published by * the Free
        Software Foundation, either version 3 of the License, or * (at your option) any later version. * * This program is distributed in
        the hope that it will be useful, * but WITHOUT ANY WARRANTY; without even the implied warranty of * MERCHANTABILITY or FITNESS FOR A
        PARTICULAR PURPOSE. See the * GNU General Public License for more details. * * You should have received a copy of the GNU General
        Public License * along with this program. If not, see http://www.gnu.org/licenses/. * */
    -->
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Nexus/Artifactory Bridge</display-name>

    <listener>
      <listener-class>org.sonatype.nexus.web.LogConfigListener</listener-class>
    </listener>

    <!-- Artifactory bridge -->
    <servlet>
        <servlet-name>artifactory</servlet-name>
        <servlet-class>org.sonatype.plexus.rest.PlexusServerServlet</servlet-class>
        <init-param>
            <!-- A stupid hack to avoid OneServletServerPerWebapp limitation, see PlexusServerServlet#getInitParameter -->
            <param-name>artifactory.role</param-name>
            <param-value>org.restlet.Application</param-value>
        </init-param>
        <init-param>
            <!-- A stupid hack to avoid OneServletServerPerWebapp limitation, see PlexusServerServlet#getInitParameter -->
            <param-name>artifactory.roleHint</param-name>
            <param-value>artifactoryBridge</param-value>
        </init-param>
        <init-param>
            <!-- A stupid hack to avoid OneServletServerPerWebapp limitation, see PlexusServerServlet#getInitParameter -->
            <param-name>artifactory.org.restlet.clients</param-name>
            <param-value>FILE CLAP</param-value>
        </init-param>
        <init-param>
            <param-name>plexus.discoverResources</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>artifactory</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
