<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2008-2011 Sonatype, Inc. All rights reserved.

    This program is licensed to you under the Apache License Version 2.0,
    and you may not use this file except in compliance with the Apache License Version 2.0.
    You may obtain a copy of the Apache License Version 2.0 at http://www.apache.org/licenses/LICENSE-2.0.

    Unless required by applicable law or agreed to in writing,
    software distributed under the Apache License Version 2.0 is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the Apache License Version 2.0 for the specific language governing permissions and limitations there under.

-->
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Nexus/Artifactory Bridge</display-name>

    <listener>
      <listener-class>org.sonatype.nexus.web.LogConfigListener</listener-class>
    </listener>

    <!-- Artifactory bridge -->
    <servlet>
        <servlet-name>artifactory</servlet-name>
        <servlet-class>org.sonatype.plexus.rest.PlexusServerServlet</servlet-class>
        <init-param>
            <!-- A stupid hack to avoid OneServletServerPerWebapp limitation, see PlexusServerServlet#getInitParameter -->
            <param-name>artifactory.role</param-name>
            <param-value>org.restlet.Application</param-value>
        </init-param>
        <init-param>
            <!-- A stupid hack to avoid OneServletServerPerWebapp limitation, see PlexusServerServlet#getInitParameter -->
            <param-name>artifactory.roleHint</param-name>
            <param-value>artifactoryBridge</param-value>
        </init-param>
        <init-param>
            <!-- A stupid hack to avoid OneServletServerPerWebapp limitation, see PlexusServerServlet#getInitParameter -->
            <param-name>artifactory.org.restlet.clients</param-name>
            <param-value>FILE CLAP</param-value>
        </init-param>
        <init-param>
            <param-name>plexus.discoverResources</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>artifactory</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
