<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${project.build.directory}/logs/tests.log</File>
    <Append>true</Append>
    <encoder>
      <pattern>%4d{yyyy-MM-dd HH:mm:ss} %-5p [%-15.15t] - %c - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>12</maxIndex>
      <FileNamePattern>${project.build.directory}/logs/tests.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <logger name="httpclient" level="WARN" />
  <logger name="org.apache.http" level="WARN" />
  <logger name="org.sonatype.nexus" level="INFO" />
  <logger name="org.apache.commons" level="WARN" />

  <root level="DEBUG">
    <appender-ref ref="logfile" />
  </root>
  
</configuration>