#*
 * Sonatype Nexus (TM) Open Source Version
 * Copyright (c) 2007-2013 Sonatype, Inc.
 * All rights reserved. Includes the third-party code listed at http://links.sonatype.com/products/nexus/oss/attributions.
 *
 * This program and the accompanying materials are made available under the terms of the Eclipse Public License Version 1.0,
 * which accompanies this distribution and is available at http://www.eclipse.org/legal/epl-v10.html.
 *
 * Sonatype Nexus (TM) Professional Version is available from Sonatype, Inc. "Sonatype" and "Sonatype Nexus" are trademarks
 * of Sonatype, Inc. Apache Maven is a trademark of the Apache Software Foundation. M2eclipse is a trademark of the
 * Eclipse Foundation. All other trademarks are the property of their respective owners.
 *###
Ext.Loader.setConfig({
  enabled: true,
  paths: {
    NX: 'static/rapture/NX' ## relative to /rapture.html
  }
});

Ext.ns('NX.app');

## Configure application plugin muck
NX.app.pluginConfigClassNames = [$pluginConfigClassNames];
Ext.each(NX.app.pluginConfigClassNames, function(className) {
  Ext.require(className);
});

## configure basics
NX.app.baseUrl = '$baseUrl';

## initial state
NX.app.state = $state;

## Set the debug flag if allowed
NX.app.debug = false;
if (window.location.search === '?debug') {
  if (NX.app.state.uiSettings.value.debugAllowed) {
    console.log('Debug mode enabled');
    NX.app.debug = true;
  }
  else {
    console.warn('Debug mode disallowed');
  }
}

Ext.application('NX.app.Application');
