<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <!--
       <pattern>${test.log.pattern}</pattern>
       -->
      <pattern>%date %level [%thread%X{DC}] %logger - %msg%n</pattern>>
    </encoder>
  </appender>

  <logger name="org.sonatype.security" level="TRACE"/>

  <root level="${test.log.level:-INFO}">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
