#*
 * Sonatype Nexus (TM) Open Source Version
 * Copyright (c) 2007-2012 Sonatype, Inc.
 * All rights reserved. Includes the third-party code listed at http://links.sonatype.com/products/nexus/oss/attributions.
 *
 * This program and the accompanying materials are made available under the terms of the Eclipse Public License Version 1.0,
 * which accompanies this distribution and is available at http://www.eclipse.org/legal/epl-v10.html.
 *
 * Sonatype Nexus (TM) Professional Version is available from Sonatype, Inc. "Sonatype" and "Sonatype Nexus" are trademarks
 * of Sonatype, Inc. Apache Maven is a trademark of the Apache Software Foundation. M2eclipse is a trademark of the
 * Eclipse Foundation. All other trademarks are the property of their respective owners.
 *#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>$appName</title>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <link rel="icon" type="image/png" href="favicon.png"><!-- Major Browsers -->
  <!--[if IE]><link rel="SHORTCUT ICON" href="favicon.ico"/><![endif]--><!-- Internet Explorer-->

  <link rel="search" type="application/opensearchdescription+xml" href="$serviceBase/opensearch" title="Nexus" />

  ## Plugin pre HEAD contributions start here
  #foreach( $pluginPreHeadContribution in $pluginPreHeadContributions )
    $pluginPreHeadContribution
  #end
  ## Plugin pre HEAD contributions ends here

  <link rel="stylesheet" href="ext-3.4.0/resources/css/ext-all.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="ext-3.4.0/resources/css/xtheme-gray.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="style/$buildQualifier/sonatype-all.css" type="text/css" media="screen" title="no title" charset="utf-8">

##  <script src="js/sonatype-all.js?$nexusVersion" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    </script>


  #if ($debug)
      <script src="ext-3.4.0/adapter/ext/ext-base-debug.js" type="text/javascript" charset="utf-8"></script>
      <script src="ext-3.4.0/ext-all-debug.js" type="text/javascript" charset="utf-8"></script>
      ## omit sonatype-all.js to pick up single file modules
  #else
      ## load aggregated/minified files
      <script src="ext-3.4.0/adapter/ext/ext-base.js" type="text/javascript" charset="utf-8"></script>
      <script src="ext-3.4.0/ext-all.js" type="text/javascript" charset="utf-8"></script>
      <script src="js/$buildQualifier/sonatype-all.js" type="text/javascript" charset="utf-8"></script>
  #end

    <script src="js/$buildQualifier/sonatype-lib.js" type="text/javascript" charset="utf-8"></script>


    <script type="text/javascript" charset="utf-8">
        requirejs.config({
            baseUrl : 'js',
            urlArgs : "cache=$nexusVersion"
        });

        var initUI = function(files) {
            requirejs(['require', 'extjs', 'Nexus/ui', 'Sonatype/all'], function(require, Ext, Nexus, Sonatype) {
                var
                        all = files.length;
                        loaded = 0;

                function init() {
                    loaded += 1;

                    if (loaded < all) {
                        return;
                    }

                    var alreadyDone = false;

                    function init() {
                        if (!Ext.isReady || alreadyDone) {
                            return;
                        }
                        alreadyDone = true;

                        Nexus.Log.debug('Initializing UI...');
                        Sonatype.init();
                        Sonatype.view.init();
                        Nexus.Log.debug('Loading Nexus Status...');
                        Sonatype.utils.loadNexusStatus();
                    };

                    Nexus.Log.debug('Loaded plugins');
                    Ext.onReady(init);
                    init();
                }

                function errorCallback(error) {
                    if (Nexus.error !== undefined) {
                        Nexus.error.handle([new Error(error.requireType + ': ' + error.requireModules)]);
                    } else if (console !== undefined) {
                        console.log(new Error(error.requireType + ': ' + error.requireModules));
                    }
                    init();
                }

                Ext.each(files, function(js){
                    require([ js ], init, errorCallback);
                });
            });
        }

        var pluginFiles = [];

        #foreach( $js in $pluginJsFiles )
        pluginFiles.push('$js');
        #end

        requirejs(['NX/bootstrap'], function() {
            initUI(pluginFiles);
        });
    </script>

## Plugin post HEAD contributions start here
    #foreach( $pluginPostHeadContribution in $pluginPostHeadContributions )
        $pluginPostHeadContribution
    #end
## Plugin post HEAD contributions ends here

</head>

<body>

## Plugin pre BODY contributions start here
#foreach( $pluginPreBodyContribution in $pluginPreBodyContributions )
    $pluginPreBodyContribution
#end
## Plugin pre BODY contributions ends here

<div id="header">
  <div id="branding" class="left-side">
    <image src="images/header_branding.png"/>
  </div>
  <div class="right-side">
    <div><span id="head-link-l" class="head-link"></span><span id="head-link-m" class="head-link"></span><span id="head-link-r" class="head-link"></span></div>
    <div id="logo">
      <span>
        $formattedAppName
      </span>
    </div>
  </div>
  </div>

<div id="welcome-tab" class="little-padding">
    ## "manual" loadmask; will be replaced entirely on UI init
    <div id="loadmask" class="ext-el-mask-msg x-mask-loading" style="margin-left: auto; margin-right: auto; margin-top: 200px; width: 150px; position: relative;">
        <div>Loading Nexus UI...</div>
    </div>
</div>

## Plugin post BODY contributions start here
#foreach( $pluginPostBodyContribution in $pluginPostBodyContributions )
    $pluginPostBodyContribution
#end
## Plugin post BODY contributions ends here

## Fields required for history management
<form id="history-form" class="x-hidden">
    <input type="hidden" id="x-history-field" />
    <iframe id="x-history-frame"></iframe>
</form>

</body>
</html>
