<?xml version="1.0" encoding="UTF-8"?>
#*
 * Sonatype Nexus (TM) Open Source Version
 * Copyright (c) 2007-2013 Sonatype, Inc.
 * All rights reserved. Includes the third-party code listed at http://links.sonatype.com/products/nexus/oss/attributions.
 *
 * This program and the accompanying materials are made available under the terms of the Eclipse Public License Version 1.0,
 * which accompanies this distribution and is available at http://www.eclipse.org/legal/epl-v10.html.
 *
 * Sonatype Nexus (TM) Professional Version is available from Sonatype, Inc. "Sonatype" and "Sonatype Nexus" are trademarks
 * of Sonatype, Inc. Apache Maven is a trademark of the Apache Software Foundation. M2eclipse is a trademark of the
 * Eclipse Foundation. All other trademarks are the property of their respective owners.
 *#

<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/"  xmlns:moz="http://www.mozilla.org/2006/browser/search/">
  <ShortName>Nexus ($nexusHost)</ShortName>
  <Description>Maven artifact search with Sonatype Nexus.</Description>
  <Contact>nexus@sonatype.com</Contact>
  <Image height="16" width="16" type="image/x-icon">$nexusRoot/favicon.ico</Image>
  <Url type="text/html" template="$nexusRoot/index.html#nexus-search;{searchTerms}"/>
  <moz:SearchForm>$nexusRoot</moz:SearchForm>
</OpenSearchDescription>
