<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2008-2011 Sonatype, Inc.
    All rights reserved. Includes the third-party code listed at http://www.sonatype.com/products/nexus/attributions.

    This program is free software: you can redistribute it and/or modify it only under the terms of the GNU Affero General
    Public License Version 3 as published by the Free Software Foundation.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License Version 3
    for more details.

    You should have received a copy of the GNU Affero General Public License Version 3 along with this program.  If not, see
    http://www.gnu.org/licenses.

    Sonatype Nexus (TM) Open Source Version is available from Sonatype, Inc. Sonatype and Sonatype Nexus are trademarks of
    Sonatype, Inc. Apache Maven is a trademark of the Apache Foundation. M2Eclipse is a trademark of the Eclipse Foundation.
    All other trademarks are the property of their respective owners.

-->

<configuration>

  <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${project.build.directory}/logs/tests.log</File>
    <Append>true</Append>
    <encoder>
      <pattern>%4d{yyyy-MM-dd HH:mm:ss} %-5p - %m [%c]%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>12</maxIndex>
      <FileNamePattern>${project.build.directory}/logs/tests.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  
  <logger name="httpclient" level="WARN"/>
  <logger name="org.apache.commons.httpclient" level="WARN"/>
  <logger name="org.sonatype.guice.plexus" level="INFO"/>
  <logger name="org.sonatype.security.configuration.source.FileSecurityConfigurationSource" level="WARN"/>
  <logger name="org.sonatype.nexus.test.utils.NexusStatusUtil" level="INFO"/>

  <root level="${it.test.log.level:-INFO}">
    <appender-ref ref="logfile" />
  </root>
  
</configuration>