body {
  font-family: "Trebuchet MS", Verdana, Lucida, Arial, Helvetica, sans-serif;
}

#st-header #st-logo {
  font-size: 20px;
  float: left;
  display: inline;
}

#st-header #st-right-side {
  float: right;
  font-size: 14px;
  display: inline;
}
#st-header #st-right-side #st-username {
  text-align: right;
}
#st-header #st-right-side #st-login-link {
  color: #15428B;
  text-align: right;
  cursor: pointer;
}
#st-header #st-right-side #st-version { 
  color: black;
  font-size: 10px;
  padding-top: 1px;
  text-align: right;
}

.st-little-padding {
  padding: 10px;
  font-size: 14px;
}

a.st-link {
  color: #15428B;
  cursor: pointer;
}

button.st-icon-refresh {
  background-image:url(../images/icons/arrow_refresh.png);
}

/* left server sub-panels */
#st-server-nexus-tab .st-server-instance-panel {
  padding: 2px 4px;
}
#st-server-nexus-tab {
  background-color: #F9F9F9;
}
#st-server-nexus-tab a.st-link {
/* FIXME: Find out how to recalculate the height of a link
  font-size: 13px;
*/
  text-decoration: none;
/* FIXME: Find out how to recalculate the height of a link
  padding: 2px;
*/
}

#st-repo-browser .x-panel-body {
  background-color: #FFFFFF;
  border: 1px solid #99BBE8;
}

.my-tbl {
  border: none;
}
.my-tbl-item-cell a {
  color: #1E4176;
}
.my-tbl-item-cell a:link, .my-tbl-item-cell a:visited {
  text-decoration: none;
}
.my-tbl-item-cell a:hover {
  color: #15428b;
  text-decoration: underline;
}
.my-tbl-item-cell-text {
  padding: 3px 3px 3px 5px;
}
.my-tbl-col-text {
  padding: 4px 3px 4px 5px;
}

.my-tree-joint div {
  width: 16px;
  height: 18px;
}
.my-tree-joint .my-tree-open, .my-tree-joint-over .my-tree-open {
  background-image: url(../images/default/tree/elbow-end-minus-nl.gif);
  background-position: center;
}
.my-tree-joint .my-tree-close, .my-tree-joint-over .my-tree-close {
  background-image: url(../images/default/tree/elbow-end-plus-nl.gif);
  background-position: center;
}
.my-tree-icon div {
  width: 16px;
  height: 18px;
  margin: 0;
}
.my-tree-loading .my-tree-icon .tree-folder {
  background: url(../images/default/tree/loading.gif);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.my-tree-icon .tree-folder {
  background-image: url(../images/default/tree/folder.gif);
  background-position: 0 0;
}
.my-tree-icon .tree-folder-open {
  background-image: url(../images/default/tree/folder-open.gif);
  background-position: 0 0;
}
.my-tree-icon .tree-leaf {
  background-image: url(../images/default/tree/leaf.gif);
}



















/* Ext theme overrides */
.x-form-invalid, textarea.x-form-invalid{ /* make three browsers consistent */
  background: #FEE;
  border: 1px solid #DD7870;
}

.ext-safari .x-form-invalid{ /* @note could remove from source */ 
  background: #FEE;
  border: 1px solid #DD7870;
}

.x-form-focus, textarea.x-form-focus{
  outline: auto 0px -webkit-focus-ring-color; /* add Safari focus ring override, so consistent across browsers */
}

.loading-indicator{
  font-size: 11px;
  background-image: url(../ext-2.0.2/resources/images/default/grid/loading.gif);
  background-repeat: no-repeat;
  background-position: 3px center;
  padding-left: 22px;
  line-height: 16px;
  margin: 3px;
}

/* correct safari fieldset toggle icons */
.ext-safari .x-fieldset legend .x-tool-toggle, .ext-safari .x-fieldset legend input {
  margin-top: 1px;
}

/* Custom form label classes */
.required-field .x-tip-ml { /* reduce left offset w/ icon in there */
  padding-left: 2px;
}
.required-field .x-tip-body {
  padding-left: 16px;
  background: transparent url(../images/icons/bullet_star.png) no-repeat scroll left;
}
.required-field .x-form-item-label {
  background: transparent url(../images/icons/bullet_star.png) no-repeat right;
}

.required-field .x-panel-header-text {
  padding-right: 16px;
  background: transparent url(../images/icons/bullet_star.png) no-repeat scroll right;
}

.form-label-helpmark {
  margin-left: 3px;
  vertical-align: middle;
}

.form-label-helpmark-combo {
  margin-left: 20px;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.form-label-after-field {
  padding-left: 3px;
  vertical-align: -1px;
}

/* Search results */
#search-result-grid .x-grid3-row-body {
  margin:0px 5px 0px 5px;
  padding:1px 5px 3px 0;
}

#search-result-grid input.copy-pom-dep {
  width:500px;
  font-size: 11px;
  color:#444; /*dark grey*/
}

/* RSS Grid */
#topic-grid .x-grid3-td-title b {
  font-family:tahoma, verdana;
  display:block;
  color:#333;
}
#topic-grid .x-grid3-td-title b i {
  font-weight:normal;
  font-style: normal;
  color:#000;
}
#topic-grid .x-grid3-td-title .topic {
  padding-left:5px;
}
#topic-grid .x-grid3-td-title .x-grid3-cell-inner {
  white-space:normal;
}
#topic-grid .x-grid3-td-title a {
  color: #385F95;
  text-decoration:none;
}
#topic-grid .x-grid3-td-title a:hover {
  text-decoration:underline;
}
#topic-grid .x-grid3-row-body p {
  margin:2px 10px 4px 10px !important;
  color:#555;
}
