.x-tool-help {
  background-image: url(../images/icons/help.png);
  background-position:0 0;
}
.x-tool-help-over {
  background-image: url(../images/icons/help.png);
  background-position:0 0;
}

.x-grid-dirty-cell {
  background-image:none;
}

.x-grid3-dirty-cell {
  background-image:none;
}

.migration-help-icon {
  background-image: url(../images/icons/help.png);
  background-position:0 0;
  margin-left: 3px;
  vertical-align: middle;
}
