.x-tool-help {
    background-image: url(../images/icons/help.png);
    background-position:0 0;
}
.x-tool-help-over {
    background-image: url(../images/icons/help.png);
    background-position:0 0;
}