# Ignores for Sonatype Nexus Plugins
# Language is Java
# Build tool is Apache Maven2/3
# IDE used is Eclipse nad Intellij
# so, we have to ignore all the specifics of these above

# Eclipse
.classpath
.project
.settings/

# Maven related (and some plugins)
target/
*.ser
*.ec

# Intellij
*.ipr
*.iml
*.iws
.idea/

